*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.olxlogo img{
    width: 50px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 100px;
   
}

.mynavbar{
     background-color: rgba(173, 216, 230, 0.2);
     padding: 8px 0px;
     width: 100%;
}
.car img{
    width: 50px;
    height: 24px;

}
.home img{
    width: 34px;
    height: 24px;
}
.plus img{
    width: 16px;
    height: 16px;
}
.plus{
    background-image:url(./iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);
    width: 104px;
    height: 50px;
    padding:8px 22px;
}
.profilepic img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.motors{
    color: black;
    font-weight:bold ;
}
.icons{
    margin-left: 200px;
}
.myinput {
    width: 500px;
    padding: 10px 0px;
}
.myselect select{
    padding: 10px 0px;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    width: 350px;
}
.myself{
    border-bottom: 1px solid lightgray;
}
.navtabe ul {
    list-style: none !important;
    display: flex;
    gap: 35px;
    margin-left: 120px;
    margin-top: 10px;
}
.navtabe ul li a{
    color: black !important;
    text-decoration: none;
}

.longpic img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 25px;
}
.box{
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    height: 180px;
   background-color: yellow;
   margin-top: 25px;
   padding-top: 80px;
   margin-bottom: 40px;
}
.box > div > img{
    width: 164px;
    height: 70px;
}
.kasi{
    width: 50%;
}
.kasi img{
   width: 77px;
   height: 33px;
}
.kasi1 img{
   width: 77px;
   height: 33px;
}
.kasi1{
    width: 50%;
}
.kass1 img{
     width: 153px;
    height: 36px;
}
.kass{
    display: flex;
    width: 152px;
    height: 33px;
    gap: 10px;
    margin-top: 10px;
}
.text{
    font-weight: bold;
}

.box1{
    text-align: center;
    font-weight: bold;

} 
.box1 img{
    width: 88px;
    height: 88px;
    padding-bottom: 5px;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding:0px 60px;
}
.mytext{
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
    align-items: center;
}
.mytext h1{
    font-size: 24px;
    color: #002f34;
    font-weight: bold;

}
.mytext a{
    text-decoration: none;
    font-weight: bold;
}
.box3{
    display: flex;
    padding: 20px 60px;
    gap:20px ;
    
}
.mycard{
    height: 394.33px;
}
.cardtittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lighttext{
    color: gray;
}
.box4{
    display: flex;
    padding: 20px 60px;
    gap: 20px;
}
.nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.bottom{
    height: 172px;
    background-color: #002F3408;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottomimg img{
    width: 188px;
    height: 147px;
}
.bottomimg1{
    display: flex;
    gap: 10px;
}
.bottomimg1 div img{
    width: 128px;
    height: 40px;
}
.bottom1 li{
    list-style: none;
    padding: 6px;

}
.heading{
    font-weight: bold;
    padding-bottom: 10px;
    
}
.bottom1{
    display: flex;
    background-color: #F2F4F5;
    border-top: 1px solid lightgray;
    height: 288px;
    justify-content: space-around;
    padding: 64px 0;
}
.img{

    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;    
}
.bottom1 h5{
    padding-bottom: 10px;
}
.mybottom{
    display: flex;
    gap: 8px;
}
.mine{
    height: 56px;
    background-color: #002F34;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
    font-weight: bold;
}
.fix{
    width: 144px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid gray;
    font-weight: bold;
    position: fixed;
    bottom:60px;
    right:40px;
}

.fix:hover {
    border: 1px solid black;
    

}
